*{
  box-sizing: border-box;
}

header{
  font-size: 26px;
}

body{
  background-color: #FF5964;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.main-navbar{
  display: flex;

}

.main-navbar li{
  padding: 10px;
  list-style: none;
}

a{
  text-decoration: none;  
  color: aliceblue;
}  

.flexboxNavbar{
  display: flex;
}

.tituloPrincipal{
  padding: 0 45px;
}