* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2{
    text-align: center;
    margin: 25px;
    font-size: 32px;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
}

.registration-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.element-form {
    margin-bottom: 15px;
}

.element-form label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.element-form input,
.element-form select,
.element-form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.element-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 5px;
}

.element-form button[type="reset"] {
    background-color: #dc3545;
}

.element-form button:hover {
    background-color: #0056b3;
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
}