<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/css/index.css' />
    <link rel='stylesheet' href='/css/normalize.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <header>
    <nav>
      <ul class="main-navbar">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/users/login">Iniciar sesi칩n <i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li>
          <a href="/users/register">Crea tu cuenta <i class="fas fa-user-plus"></i></a>
        </li>
      </ul>
    </nav>
  </header>
    
  
  <body>
    <!-- //typeof es un operador que devuelve una cadena que indica el tipo de un valor. 
    Cuando se aplica a una variable no definida, typeof devuelve la cadena "undefined" -->
    
    <% if (typeof usuarioLogueado !== 'undefined') { %>   <!--se utiliza para comprobar si la variable usuarioLogueado est치 definida o no. -->
      <h1 class="tituloPrincipal">Bienvenido <%= usuarioLogueado.nombre %> a mi aplicaci칩n!</h1>
    <% } else { %>
      <h1 class="tituloPrincipal">Bienvenido usuario invitado a mi aplicaci칩n!</h1></p>
    <% } %>

    
  </body>
</html>


