<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel='stylesheet' href='/css/header.css' />
    <link rel='stylesheet' href='/css/normalize.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  
  <%- include ("./partials/header") %> 
  
  <body>
 
    <% if (locals.usuarioLogueado) { %>
      <h1 style="padding:0 28px">Bienvenido <%= usuarioLogueado.nombre %> a mi aplicación!</h1>
    <% } else { %>  
      <h1 style="padding:0 28px ">Bienvenido usuario invitado a mi aplicación!</h1>
    <%}%> 
  </body>

  <script src="/js/script.js"></script> 

  </html>


