<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Login</title>
</head>
    
<header>
    <nav class="main-navbar">
      <div>
          <ul class="left-navbar">
              <li>
                  <a href="/" class="logo">miAplicacion</a>
              </li>
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
                  <a href="#">Nostros</i></a>
              </li>
              <li>
                  <a href="#">Contacto</i></a>
              </li>
          </ul>     
      </div>
      <div>
          <ul class="right-navbar">
          <% if (locals.isLogged) { %>
            <li>
              <a href="/users/profile">miPerfil</a>
            </li>
            <li>
              <a href="/">Logout</a>
            </li>
          <%} else{ %>
              <li>
                  <a href="/users/Login">Iniciar Sesion</i></a>
              </li>
              <li>
                  <a href="/users/register">Registarse</i></a>
              </li>
          </ul>
          <%} %>
      </div>
  </nav>
</header>
 
<body>
        <h2 style="text-align: center">Ingresá a tu cuenta</h2>
        <div class="form-container">
            <% if (locals.errors && errors.length > 0) { %>
              <% errors.forEach(error => { %>
                  <p class="feedback"> <%= error.msg %></p>
              <% }) %>
          <% } %>
          
            <form action="/users/login" method="POST">
                <div class="element-form">
                    <label>Correo electrónico:</label>
                    <input type="email" name="emailUsuario">
                </div>
                <div class="element-form">
                    <label>Contraseña:</label>
                    <input type="password" name="passwordUsuario">
                </div>
                <div class="registro">
                  ¿Aún no estas registrado? <a href="/users/register">Haga click aqui</a>
                </div>
                <button type="submit">Registrarme</button>
                <button type="reset">Borrar</button>               
            </form>
        </div>
</body>

</html>