<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Login</title>
</head>
    
<%- include ("./partials/header") %> 
 
<body>
        <h2>Ingresá a tu cuenta</h2>
        <div class="container">
            <% if (locals.errors && errors.length > 0) { %>
              <% errors.forEach(error => { %>
                  <p class="feedback"> <%= error.msg %></p>
              <% }) %>
          <% } %>
          
            <form action="/users/login" method="POST" class="registration-form">
                <div class="element-form">
                    <label>Correo electrónico:</label>
                    <input type="email" name="emailUsuario">
                </div>
                <div class="element-form">
                    <label>Contraseña:</label>
                    <input type="password" name="passwordUsuario">
                </div>
                <div class="registro">
                  ¿Aún no estas registrado? <a href="/users/register" class="hipervinculo-registro">Haga click aqui</a>
                </div>
                <div class="element-form">    
                    <button type="submit" class="element-form">Ingresar</button>
                    <button type="reset" class="element-form">Borrar</button>         
                </div>          
            </form>
        </div>
</body>

</html>