<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/css/header.css' />
    <link rel='stylesheet' href='/css/normalize.css' />
    <link rel='stylesheet' href='/css/profile.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  
  <%- include ("./partials/header") %> 
  
  <body>
      <div class="conteiner-profile">
        <span class="name-profile">
          <i class="fas fa-user"></i> <%= usuarioLogueado.nombre %>
        </span>  <br>
        <span class="email-profile">
          <i class="far fa-envelope"> </i> <%= usuarioLogueado.email %>
        </span>
        <figure class="img-avatar">
           <img src="/img/<%= usuarioLogueado.avatar %>">
        </figure>
       
      </div>
    
      <script src="/js/script.js"></script> 
    
  </body>
</html>


