<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    </head>
    
    <%- include ("./partials/header") %> 

    <body>
    <h2>Ingresá tus datos para registarte</h2>
        
        <div class="container">
            <form action="/users/register" method="POST" enctype="multipart/form-data" class="registration-form" id="formulario">
                <div class="errores-form">
                    <% if (locals.errors && errors.length > 0) { %>
                        <p>Debe completar los campos correctamente</p>
                        <!-- <% errors.forEach(error => { %>
                            <p class="feedback"> <%= error.msg %></p>
                        <% }) %> -->
                    <% } %>
                </div>    
                    
                <div id="grupo-nombreUsuario">    
                    <div class="element-form" id="input-nombreUsuario">
                        <label>Nombre completo:</label>
                        <input type="text" name="nombreUsuario" class="formulario-input">
                    </div>
                    <p class="formulario-input-error">El nombre debe ser correcto</p>
                </div>
                
                <div id="grupo-dniUsuario">  
                    <div class="element-form" id="input-dniUsuario">
                        <label>DNI:</label>
                        <input type="text" name="dniUsuario" class="formulario-input">
                    </div>
                    <p class="formulario-input-error">Debe ingresar un DNI válido</p>
                </div>
                
                    <div class="element-form">
                        <label>Categoría de usuario:</label>
                        <select name="categoria">
                            <option value="0" selected>Estándar</option>
                            <option value="1">Administrador</option>
                        </select>
                    </div>
                
                <div id="grupo-emailUsuario"> 
                    <div class="element-form" id="input-emailUsuario">
                        <label>Correo electrónico:</label>
                        <input type="email" name="emailUsuario" class="formulario-input">
                    </div>
                    <p class="formulario-input-error">Debes ingresar un correo válido</p>
                </div>  
                
                <div id="grupo-passwordUsuario">
                    <div class="element-form" id="input-passwordUsuario">
                        <label>Contraseña:</label>
                        <input type="password" name="passwordUsuario" class="formulario-input">
                    </div>
                    <p class="formulario-input-error">La contraseña debe contener al menos 8 digitos, un numero y una letra mayuscula</p>
                </div>

                <div class="element-form">
                    <label>Imagen de perfil:</label>
                    <input type="file" name="avatar" accept=".jpg">
                </div>
                <div class="element-form">
                    <button type="submit">Registrarme</button>
                    <button type="reset" id="btn-borrar">Borrar</button>
                </div>
            </form>
        </div>
    </body>

    <script src="/js/script.js"></script> 

</html>