<header>
    <nav class="menu">
        <label ><a href="/" class="logo">miAplicación</a></label>
        <ul class="navbar">   
            <li>
                <a href="/">Home</a>
            </li>
            <% if (locals.isLogged  && usuarioLogueado.cateogoria ==1) { %>  
                <% console.log(usuarioLogueado.cateogoria)%>
                <li>
                    <a href="/users/admin">Administrar</i></a>
                </li>
            <%} %>
            <% if (locals.isLogged) { %>
                <li>
                    <a href="/users/profile">
                        <figure class="img-avatar-container">
                            <img src="/img/<%= locals.usuarioLogueado.avatar %> " alt="">
                        </figure>
                        <%= locals.usuarioLogueado.nombre %>
                    </a>
                </li>
                <li>
                <a href="/users/logout">Logout</a>
                </li>
            <%} else{ %>
                <li>
                    <a href="/users/Login">Iniciar Sesion </a>
                </li>
                <li>
                    <a href="/users/register">Registrarse</a>
                </li>
            <%} %>
        </ul>
        <span class="hamburguer-button"><i class="fas fa-bars fa-lg"></i></span>
    </nav>
  </header>